body {
  font-family: 'Roboto', sans-serif;
  background: #36D1DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
  color: rgba(128, 128, 128, 0.5);
  text-decoration: line-through;
}

.fa-plus {
  float: right;
}

.social-icons {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  justify-content: space-around;
}

.social-icon {
  text-decoration: none;
  font-size: 2rem;
  transition: all 1s ease-out;
}

.social-icon:hover {
  color: var(--yellow);
  transform: scale(2.0);
}

.social-icon-globe {
  color: #38761D;
}

.social-icon-globe:hover {
  color: #38761D;
}

.social-icon-facebook {
  color: #3b5998;
}

.social-icon-facebook:hover {
  color: #3b5998;
}

.social-icon-twitter {
  color: #1dcaff;
}

.social-icon-twitter:hover {
  color: #1dcaff;
}

.social-icon-instagram {
  color: #cd486b;
}

.social-icon-instagram:hover {
  color: #cd486b;
}

.social-icon-codepen {
  color: #ae63e4;
}

.social-icon-codepen:hover {
  color: #ae63e4;
}

.social-icon-linkedin {
  color: #0077b5;
}

.social-icon-linkedin:hover {
  color: #0077b5;
}

.social-icon-github {
  color: #333333;
}

.social-icon-github:hover {
  color: #333333;
}

.social-icon-jsfiddle {
  color: #0084ff;
}

.social-icon-jsfiddle:hover {
  color: #0084ff;
}
