<!DOCTYPE html>
<html>

<head>
  <title>Todo List - jQuery + CSS + HTML</title>
  <link rel="stylesheet" type="text/css" href="https://practicals.albertjose.com/javascript/index.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <div id="container">
    <h1>To-do List <i class="fa fa-plus"></i></h1>
    <input type="text" name="newToDo" placeholder="Add New Todo">
    <ul>
      <li><span><i class="fa fa-trash"></i></span>Meet Joseph</li>
      <li><span><i class="fa fa-trash"></i></span>Buy eggs</li>
      <li><span><i class="fa fa-trash"></i></span>Read a book</li>
      <li><span><i class="fa fa-trash"></i></span>Haircut</li>
    </ul>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>